<div class="text-center">
    <form name="signIn" action="/auth/signIn" method="post">
        username: <input type="text" name="username" id="username" style="color: black;" /> </br>
        password: <input type="password" name="password" id="password" style="color: black;" /> </br>
        <input type="submit" value="SIGN UP TODAY" class="btn btn-primary btn-lg"/>
    </form>
</div>